.navbar{
 width: 100%;
 position: fixed;
 height: 30px;
 padding: 20px;
 display: flex;
 justify-content: space-between;
 background-color: #111;
}
.logo{
    left: 20px;
    width: 80px;
    position: fixed;
}
.avatar{
    width: 30px;
    position: fixed;
    right: 20px;
}

